## Visual Studio Junk
.vs/
[Bb]in/
[Oo]bj/
out/
x64/
x86/
Generated\ Files/
.idb

## Solution and Project User Settings
*.user
*.userosscache
*.sln.doccas
*.suo
*.userprefs

## C++ Compilations
*.exe
*.obj
*.pdb
*.ilk
*.aps
*.ncb
*.sdf
*.ipch
*.tlog
*.lastbuildstate

## C# / .NET Specific
*.deps.json
*.runtimeconfig.json
*.dll

## Logs and temporary
*.log
*.tmp

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

wwwroot/images/*
/projects/19-p1-dvld/backend/Api/wwwroot/images/people
